.vscode
.DS_Store
node_modules

# Modern Yarn files
.pnp.*
.yarn/*
!.yarn/.gitkeep
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz
**/.yarn/install-state.gz
**/node_modules/.yarn-state.yml

# Ignore developer-only local files
.local
