# General
HOST=0.0.0.0
PORT=5006
FE_URL=https://example.com
MAX_RETRY_COUNT=3

# Postgres
POSTGRES_URL=postgresql://user:password@host:5432/exchange-oracle
POSTGRES_SSL=true
POSTGRES_LOGGING=log,info,warn,error

# Web3
WEB3_ENV=testnet
WEB3_PRIVATE_KEY=replace_me
RPC_URL_POLYGON_AMOY=https://rpc-amoy.polygon.technology

# Encryption
PGP_ENCRYPT=false
