# General
HOST=0.0.0.0
PORT=5006
FE_URL=https://example.com
MAX_RETRY_COUNT=3

# Postgres
POSTGRES_URL=postgresql://user:password@host:5432/exchange-oracle
POSTGRES_SSL=true
POSTGRES_LOGGING=log,info,warn,error

# S3
S3_ENDPOINT=s3.example.com
S3_PORT=443
S3_ACCESS_KEY=replace_me
S3_SECRET_KEY=replace_me
S3_BUCKET=marketing
S3_USE_SSL=true

# Web3
WEB3_ENV=testnet
WEB3_PRIVATE_KEY=replace_me
RPC_URL_POLYGON_AMOY=https://rpc-amoy.polygon.technology

# Encryption
PGP_ENCRYPT=false
