# General
VITE_APP_WALLETCONNECT_PROJECT_ID=replace_me
VITE_APP_DOCS_URL=https://docs.humanprotocol.org
VITE_APP_STAKING_DASHBOARD_URL=https://staking.humanprotocol.org
VITE_FOOTER_LINK_GITHUB=https://github.com/Hu-Fi/hufi
VITE_FOOTER_LINK_TELEGRAM=https://t.me/Hu_Finance
VITE_FOOTER_LINK_X=https://x.com/Hu_Finance

# Web3
VITE_APP_ENVIRONMENT=localhost
VITE_APP_SUPPORTED_CHAINS=1338
VITE_APP_EXCHANGE_ORACLE_ADDRESS=0x9965507D1a55bcC2695C58ba16FB37d819B0A4dc
VITE_APP_RECORDING_ORACLE_ADDRESS=0x976EA74026E726554dB657fA54763abd0C3a0aa9
VITE_APP_REPUTATION_ORACLE_ADDRESS=0x15d34AAf54267DB7D7c367839AAf71A00a2C6A65
